.about-container {
    display: flex;
    flex-direction: column;
    background-color: silver;
    color: rgb(15, 18, 26);
    height: 100vh;
    padding: 100px 80px 100px 80px;

}

.about-description {
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.titles {
    font-size: 80px;
    padding-bottom: 30px;
    border-bottom-style: dotted;
    border-color: rgb(15, 18, 26);
}