.about-container {
    display: flex;
    flex-direction: column;
    background-color: silver;
    color: rgb(15, 18, 26);
    height: 100%;
    padding: 100px 80px 100px 80px;

}

.about-description {
    display: flex;
    font-size: 35px;
    text-align: justify;
    text-justify: inter-character; 
    margin-top: 30px;
    
}

.titles {
    font-size: 80px;
    padding-bottom: 30px;
    border-bottom-style: dotted;
    border-color: rgb(15, 18, 26);
}

@media screen and (max-width: 960px) {

    .about-container {
        padding: 120px 40px 120px 40px;
        height: 100%;
    }

    .titles {
        font-size: 60px;
        text-align: center;  
    }

    .about-description {
        font-size: 18px;
        margin-top: 30px;
      
    }

}